@font-face {
    font-family: 'test';
    src: url('Fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'test2';
    src: url('Fonts/Montserrat-SemiBold.ttf');
}

#homeIcon:hover {
    -fx-image: url("../../../images/hover-home-icon.png");
}

#homeIcon {
    -fx-image: url("../../../images/hover-home-icon.png");
}

#title {
    -fx-font-family: "Montserrat SemiBold";
}

#addTestButton {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 18px;
}